asgiref==3.4.1
astroid==2.7.2
attrs==21.2.0
Django==3.2.6
image==1.5.33
importlab==0.6.1
isort==5.9.3
lazy-object-proxy==1.6.0
libcst==0.3.20
mccabe==0.6.1
mypy-extensions==0.4.3
networkx==2.6.2
ninja==1.10.2
numpy==1.21.2
Pillow==8.3.1
platformdirs==2.2.0
pygame==2.0.1
pylint==2.10.2
pytype==2021.8.24
pytz==2021.1
PyYAML==5.4.1
six==1.16.0
sqlparse==0.4.1
tabulate==0.8.9
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.0
typing-inspect==0.7.1
wrapt==1.12.1
